* {
    margin:0;
    padding:0;
}

html {
    background-color:white;
}

body {
    background-color:#EFF4F7;
    color:#3F2860;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size:16px;
    line-height: 1.5;
}


header {
    background-color:#1c5d99;
    color:white;
    text-align:center;
    height:100px;
}

header > h1 {
    line-height:200%;
    padding-top:16px;
}

ul {
    list-style-type:none;
    size:30px;
}

a {
    text-decoration:none;
}

nav {
    background-color:#3e7cb6;
    color:white;
    text-align:center;
    height:50px;
    padding:5px;
}

a:link {
    color:white;
}

a:visited {
    color:white;
}

a:hover {
    color:black;
}

/* Classes */

.active {
    font-weight:bold;
    background-color:#5593ce;
}

.nav {
    display:inline-block;
    padding:15px 50px;
}

.subNav {
    height:0;
    overflow:hidden;
}

.subNav {
    background-color:#5593ce;
}

.subNav > li:hover {
    background-color:#66a8e6
}

.showSubNav {
    height:30px;
}

.goalNav {
    display:inline-block;
    width: 32%;
    z-index:1;
    font-size:small;
}

/* IDs */