* {
    margin:0;
    padding:0;
}

html {
    background-color:lightgray;
}

body {
    color:#ffffff;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size:16px;
    line-height: 1.5;
}

ul {
    list-style-type:none;
    size:30px;
}

a {
    text-decoration:none;
}

a:link {
    color:white;
}

a:visited {
    color:white;
}

a:hover {
    color:black;
}

/* Classes */

.active {
    font-weight:bold;
    background-color:#5593ce;
}

.teamBox {
    background-color:white;
    border: white solid;
    border-radius:10px;
    color:black;
}

.teamMember {
    display:block;
    margin:10px 15%;
    width:70%;
    justify-content:center;
}

.teamName {
    display:flex;
    float:center;
    text-decoration:underline;
}

.teamImage {
    float:left;
    max-width:100px;
    margin:5px;
    border:gray solid;
    border-radius:5px;
}

.sectionHeading {
    display:inline-block;
    text-align:center;
    padding: 10px 15px;
    margin:10px;
    position:relative;
    left:50%;
    transform: translateX(-50%);
}

.contactBox p, .contactBox h3 {
    text-align:center;
}

.contactBox a:link, .contactBox a:visited {
    color:#1c5d99;
}

.contactBox a:hover {
    color:gray;
}

#teamInfoSection {
    display:block;
    width:100%;
}

.teamInfo {
    display:block;
    text-wrap:wrap;
    margin:10px;
}

.teamInfo h4 {
    font-style:italic;
}

/* Media Queries */

@media only screen and (max-width: 768px) {

    .teamMember, .contactBox {
        display:block;
        width:80%;
        margin:20px 10%;
        min-height:auto;
    }

}

@media only screen and (min-width: 768px) {

    .contactBox {
        float:left;
        margin:10px 2%;
        min-height:100px;
    }

    #emailBox {
        width:35%;
    }
    
    #newsletterBox{
        width:55%;
    }
    
    #newsletterBox p {
        margin: 0px 10px;
        font-size:20px;
    }
    
}