* {
    margin:0;
    padding:0;
}

html {
    background-color:white;
}

body {
    background-color:#EFF4F7;
    color: black;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size:16px;
    line-height: 1.5;
}

a {
    text-decoration:none;
}

a:link {
    color:white;
}

a:visited {
    color:white;
}

a:hover {
    color:black;
}

section {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    border: 2px solid white;
    border-radius: 20px;
}

main {
    margin-top: 30px;
    margin-bottom: auto;
    margin-left: 5%;
    margin-right: 5%;
    padding: 16px;
}

img {
    width: 100%;
    height:auto;
    padding-top: 10px;
}

/* Classes */

.active {
    font-weight:bold;
    background-color:#90c3f1;
}

.ImageText {
    display: inline-block;
    width: 47%;
    box-sizing: border-box;
    background-color: white;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 11px;
    padding-right: 11px;
    margin-top: 25px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: 5px;
    text-align: center;
    border-radius: 20px;
}

.NoBorder{
    margin-top:30px;
    border :none;
    border-radius: 0px;
    display:block;
    padding-left:10px;
    padding-right:10px;
}

.TextBorder{
    display:inline-block;
    box-sizing: border-box;
    width:47%;
    margin-left: 5px;
    margin-right:auto;
    margin-top:20px;
    margin-bottom:20px;

}

.ImageDropDown{
    display:inline-block;
    box-sizing: border-box;
    width: 31%;
    margin-left: 5px;
    margin-right:auto;
    margin-top:20px;
    margin-bottom:20px;

}

.ImageTextHidden{
    overflow:hidden;
    display:none;
}

.ImageTextShow{
    overflow:visible;
    display:block;
    padding:10px;
    border:2px solid lightblue;

}














/* ID's */

#MainImage {
    margin-top:50px;
    margin-left:auto;
    margin-right:auto;
    width: 60%;
    display:block;
    border: 4px solid lightblue;
    padding-top: 0px;
}

#list{
    padding:5px;
    padding-left:30px;
    display:inline-block;
    width:40%;
    vertical-align: top;
}

#imgNextText{
    width:48%;
}

#BodyImg{
    display: inline-block;
}

#AlignTitleInBox{
    text-align: center;
}
#AlignH2Element{
    text-align: center;
    padding-top:60px;
}


@media only screen and (max-width: 840px) {
    .ImageText{
        box-sizing: none;
        margin-left:auto;
        width:80%;
        display: block;
    }

    .TextBorder{
        display: grid;
        box-sizing: none;
        width: auto;
    }
    #imgNextText{
        width:90%;
        margin-left:auto;
        margin-right:auto;
        display:block;
    }
    #list{
        width:90%;
        display:block;
        margin-left:auto;
        margin-right:auto;
    }
    .ImageDropDown{
        display: block;
        box-sizing: none;
        margin-left:auto;
        margin-right:auto;
        width: 90%;
    }

}